{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <h1>Todo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ todo.text }}</td>
            </tr>
            <tr>
                <th>IsCompleted</th>
                <td>{{ todo.isCompleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_api_todo_index') }}">back to list</a>

    <a href="{{ path('app_api_todo_edit', {'id': todo.id}) }}">edit</a>

    {{ include('api_todo/_delete_form.html.twig') }}
{% endblock %}
